.xmap-menu-options {
    border-bottom: 1px solid #CCC;
    padding:10px;
}
.xmap-menu-options label {
    cursor:move;
}
.xmap-menu-options input, .xmap-menu-options select {
    margin: 5px 5px 2px 0px;
}
ul.ul_sortable {
    list-style:none;
    margin:0;
    padding:0;
}
ul.ul_sortable li {
    cursor:move;
    background-color: #eee;
    margin:5px;
    padding: 5px;
}
ul.ul_sortable li label.menu_label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0px;
}
ul.ul_sortable input[type="checkbox"] {
    margin: 0 3px 0 3px;
}

/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
  color: #f9f9f9 !important;
}
.bg-gray {
  background-color: #eaeaec !important;
}
.bg-black {
  background-color: #222222 !important;
}
.bg-red {
  background-color: #f56954 !important;
}
.bg-darkred {
  background-color: #8b0000 !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue {
  background-color: #3c8dbc !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #932ab6 !important;
}
.bg-maroon {
  background-color: #85144b !important;
}

.list-badge ul {
display: inline-flex;
margin: auto;
}
.list-badge li
{
list-style-type: none;
padding-right: 5px;
}